<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Electronics Hub</span>
  <span class="example-spacer"></span>
  <button mat-flat-button color="warn" (click)="openDialog()">Add Product</button>
  
</mat-toolbar>

<div class="container">
<div style="margin-top: 10px">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter your record" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product ID </th>
        <td mat-cell *matCellDef="let row"> {{row.productId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
        <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="categoryId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category ID </th>
        <td mat-cell *matCellDef="let row"> {{row.categoryId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category</th>
        <td mat-cell *matCellDef="let row"> {{row.category}} </td>
      </ng-container>

      <ng-container matColumnDef="durability">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Durability</th>
        <td mat-cell *matCellDef="let row"> {{row.durability}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
        <td mat-cell *matCellDef="let row"> {{row.price | currency:"&#8377;"}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
        <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-icon-button (click)="editProduct(row)" color="primary">
          <mat-icon>edit</mat-icon> 
        </button> 
          <button (click)="deleteProduct(row.id)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon> 
        </button> 
      </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
     
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <hr>
    <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
  
  </div>
  
  
  
</div>
</div>